/* Estilos Basicos */
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-image: url('Images/fondo_crema.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', cursive;
    color: #4a4a4a;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilo de la Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
    transition: background-color 0.3s ease;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #FF69B4 !important;
}

/* Logo del navbar */
.website-logo {
    height: 40px; 
    width: auto;
    margin-right: 10px; 
    vertical-align: middle; 
}

/* Responsividad  */
@media screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0.9) !important;
    }

    .website-logo {
        height: 30px; /* se ajusta la altura para dipositivos moviles*/
    }
}

/* Seccion del hero */
.hero {
    background-image: url('Images/hero_pag_web.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contador */
.countdown-section {
    background-color: #f8f9fa;
}

.countdown-font {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4a4a4a;
}

.countdown-text {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wedding-date {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4a4a4a;
}

/* Responsividad para dip. moviles */
@media screen and (max-width: 768px) {
    /* Reducimos tamano de fuente para dip. moviles */
    .countdown-font {
        font-size: 1.5rem; 
    }

    .countdown-text {
        font-size: 0.7rem; 
    }

    .wedding-date {
        font-size: 1rem; 
    }

    .countdown-item {
        margin-bottom: 20px; 
    }
}


/* Historia */
#historia {
    background-color: #f8f9fa;
}

/* Detalles */
.song-request-box {
    background-color: rgba(255, 192, 203, 0.15); 
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(255, 105, 180, 0.2);
    transition: all 0.3s ease;
}

.song-request-box:hover {
    box-shadow: 0 15px 40px rgba(255, 105, 180, 0.3);
    transform: translateY(-5px);
}

.song-request-box input {
    border: 1px solid #FF69B4; 
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.song-request-box input:focus {
    border-color: #FF69B4; 
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5); 
    outline: none;
}

.media-controls button {
    margin: 0 10px;
    background-color: #FF69B4; 
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.media-controls button:hover {
    background-color: #FF1493; 
    transform: scale(1.1);
}

.additional-icons i {
    font-size: 1.8rem;
    margin: 0 15px;
    color: #FF69B4; 
    transition: all 0.3s ease;
}

.additional-icons i:hover {
    color: #FF1493; 
    transform: scale(1.2);
}

/* Ropa */
.attire-box {
    transition: transform 0.3s ease;
}

.attire-box:hover {
    transform: translateY(-5px);
}

/* Ubicacion y GPS */
#mapaceremonia, #maparecepcion {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #000; 
}

.btn-map {
    background-color: #228B22;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-map:hover {
    background-color: #185418;
    color: #fff;
}

/* Timeline */
.timeline {
    position: relative;
    max-width: 600px; 
    margin: 0 auto;
    padding: 10px 0; 
}

.timeline-item {
    padding: 5px 0; 
    position: relative;
    background-color: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-content {
    position: relative;
    text-align: center;
    margin-top: 20px; 
}

.icon {
    width: 100px; 
    height: 100px; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50px; 
    left: 50%;
    transform: translateY(-50%);
}

.icon img {
    width: 100%;
    height: auto;
}

.time {
    font-weight: bold;
    color: #333;
    font-size: 16px; 
}

.event {
    font-size: 20px; 
    font-weight: bold;
    margin: 10px 0; 
}

/* Timeline en PC */
.timeline-pc::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #000000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.timeline-pc .timeline-item {
    margin-bottom: 20px; 
}

.timeline-pc .timeline-item::before {
    content: "";
    position: absolute;
    width: 20px; 
    height: 20px; 
    background-color: #000000;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.timeline-pc .timeline-item:nth-child(odd)::before {
    left: 300px; 
}

.timeline-pc .timeline-item:nth-child(even)::before {
    left: calc(100% - 300px); 
}

.timeline-pc .timeline-item:nth-child(odd) {
    left: 0;
    padding-right: 10px; 
}

.timeline-pc .timeline-item:nth-child(even) {
    left: 50%;
    padding-left: 10px; /
}

.timeline-pc .timeline-item:nth-child(odd) .icon {
    left: calc(50% - 10px); 
    transform: translateX(-50%);
}

.timeline-pc .timeline-item:nth-child(even) .icon {
    left: calc(50% + 10px); 
    transform: translateX(-50%);
}

/* Timeline en Movil */
.timeline-mobile {
    display: none;
}

.timeline-mobile .timeline-item {
    width: 100%;
    padding-left: 90px;
    padding-right: 20px;
}

.timeline-mobile::after {
    left: 40px;
}

.timeline-mobile .icon {
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

/* Asistencia/Rsvp */
#confirmacion {
    background-color: #f8f9fa;
    padding: 50px 0;
}

#confirmacion h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #4a4a4a;
}

#confirmacion p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #666;
}

#rsvp-form {
    max-width: 600px;
    margin: 0 auto;
}

#rsvp-form .form-group {
    margin-bottom: 20px;
}

#rsvp-form .form-control {
    border-radius: 50px;
    padding: 10px 15px;
    border: 1px solid #FF69B4; 
    transition: all 0.3s ease;
}

#rsvp-form .form-control:focus {
    border-color: #FF69B4; 
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5); 
    outline: none; 
}

#rsvp-form button {
    background-color: #FF69B4; 
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#rsvp-form button:hover {
    background-color: #FF1493; 
    transform: scale(1.1);
}



/* Responsividad */
@media screen and (max-width: 768px) {
    .timeline-pc {
        display: block;
    }

    .timeline-mobile {
        display: none;
    }
}

/*  Estilos Ad. */
.timeline p {
    margin: 10px 0 0; 
    font-size: 16px; 
    color: #666;
}